---

---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>M-PESA Charges (Kenya)</title>
    <meta name="description" content="A web page containing information on M-PESA charges in Kenya.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="8eQ_qLNUiJDNj9ZBR0xCilgRsSMR_lgyvKmUSpvqv_k" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <h1>M-PESA Charges (Kenya)</h1>
    <p id="lastupdated">
        Last updated: 
        {% for updatedate in site.data.updatedates %}
            {% if forloop.last == true %}
                {{ updatedate.date }}
            {% endif %}
        {% endfor %}
    </p>
    <hr/>
    <h2>Send to Registered User</h2>
    <table>
        <tr>
            <th>Min (KSh)</th>
            <th>Max (KSh)</th>
            <th>M-PESA Charges</th>
        </tr>
        {% for sendregcharge in site.data.sendregcharges %}
            <tr>
                <td>{{ sendregcharge.min }}</td>
                <td>{{ sendregcharge.max }}</td>
                <td>{{ sendregcharge.charge }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Send to Unregistered User</h2>
    <table>
        <tr>
            <th>Min (KSh)</th>
            <th>Max (KSh)</th>
            <th>M-PESA Charges</th>
        </tr>
        {% for sendunregcharge in site.data.sendunregcharges %}
            <tr>
                <td>{{ sendunregcharge.min }}</td>
                <td>{{ sendunregcharge.max }}</td>
                <td>{{ sendunregcharge.charge }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Withdraw from Agent</h2>
    <table>
        <tr>
            <th>Min (KSh)</th>
            <th>Max (KSh)</th>
            <th>M-PESA Charges</th>
        </tr>
        {% for withdrawagentcharge in site.data.withdrawagentcharges %}
            <tr>
                <td>{{ withdrawagentcharge.min }}</td>
                <td>{{ withdrawagentcharge.max }}</td>
                <td>{{ withdrawagentcharge.charge }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Withdraw from ATM</h2>
    <table>
        <tr>
            <th>Min (KSh)</th>
            <th>Max (KSh)</th>
            <th>M-PESA Charges</th>
        </tr>
        {% for withdrawatmcharge in site.data.withdrawatmcharges %}
            <tr>
                <td>{{ withdrawatmcharge.min }}</td>
                <td>{{ withdrawatmcharge.max }}</td>
                <td>{{ withdrawatmcharge.charge }}</td>
            </tr>
        {% endfor %}
    </table>
    <footer>
        <p>-PMW-</p>
    </footer>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</body>
</html>