body {
    padding: 0% 10%;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #333;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        padding: 0% 5%;
    } 
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid lightgray;
    border-right: 0px;
    border-left: 0px;
}

th, td {
    padding: 1em;
    text-align: left;
}

hr {
    border: 0px;
    height: 1px;
    background-color: lightgray;
}

footer {
    text-align: center;
    padding: 5% 0%;
    color: gray;
}

#lastupdated {
    font-style: italic;
    color: gray;
}

.responsive {
    width: 100%;
    height: auto;
}